{
    auto_https off
}

:443 {
    # Route MQTT WebSocket traffic
    handle /mqtt* {
        reverse_proxy mosquitto:9001
    }

    handle /auth* {
	reverse_proxy mqtt-backend:3000
    }

    # Route everything else to the Webpage
    handle {
        # This will point to website
        redir https://supermileage-display-web-pits.pages.dev{uri} 302
    }
}
