{
    auto_https off
}

:443 {
    # Route MQTT WebSocket traffic
    handle_path /mqtt* {
        reverse_proxy mosquitto:9001
    }

    # Route everything else to the Webpage
    handle {
        # This will point to website

        respond "Web interface coming soon!" 200
    }
}