services:
  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    restart: unless-stopped
    ports:
     - "1883:1883"
     - "9001:9001"
    environment:
     - MOSQUITTO_USERS_B64 
    volumes:
     - ./mosquitto/config:/mosquitto/config
     - ./mosquitto/data:/mosquitto/data
     - ./mosquitto/log:/mosquitto/log
     - ./mosquitto/entrypoint.sh:/mosquitto/entrypoint.sh:ro
    entrypoint: ["/mosquitto/entrypoint.sh"]
    networks:
      - mqtt-net

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
    #  - "8080:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - /etc/ssl/certs:/etc/ssl/certs:ro
      - /etc/ssl/private:/etc/ssl/private:ro
    networks:
      - mqtt-net

networks:
  mqtt-net:

volumes:
  caddy_data:
  caddy_config: